.content-story {
    padding: 10px;

    h2 {
        padding: 20px 0;

        span {
            color: green;
        }
    }

    .container {
        padding: 10px 0;
        border-top: 1px solid #fff;

        .commune {
            color: #d1d1d1;
            font-size: 12px;
        }

        .text {
            font-family: 16px;
        }
    }
}

.article {
    padding: 20px;

    .title {
        font-size: 2rem;
    }

    .text {
        margin-top: 20px;
        font-size: 16px;
    }

    .commune {
        text-align: right;
        color: #d1d1d1;
    }
}